@page "/ToWatch"
@inject HttpClient Http

<h1>Watchlist (@watchlist.Count(towatchlist => !towatchlist.IsDone))</h1>

<ul>
    @foreach (var towatchlist in watchlist)
    {
        <li>
            <input type="checkbox" @bind="towatchlist.IsDone" />
            @towatchlist.Title
        </li>
    }
</ul>

<input placeholder="something towatchlist" @bind="newMovie" />
<button class="btn btn-primary" @onclick="AddToWatchList">Add to watchlist</button>

@code {
    private IList<WatchListMovie> watchlist = new List<WatchListMovie>();
    private string newMovie;

    private void AddToWatchList()
    {
        if (!string.IsNullOrWhiteSpace(newMovie))
        {
            watchlist.Add(new WatchListMovie { Title = newMovie });
            newMovie = string.Empty;
        }
    }

    public class WatchListMovie
    {
        public string Title { get; set; }
        public bool IsDone { get; set; }
    }
}




